[submodule "source/statping-ng.wiki"]
    path = source/statping-ng.wiki
    # TODO should this be a relative path? (would require wiki fork for statping forks)
	url = https://github.com/statping-ng/statping-ng.wiki.git
